$maxWidth: 1920;
$minWidth: 1200;

@mixin adaptiv-height($Size) 
{
	height: calc( #{$Size} *100vw / #{$maxWidth});
}

@mixin bText($pcSize){
	font-family: "Arial";
	font-size: calc(#{$pcSize + px});
	font-weight: 700;
	color: whitesmoke;
	text-align: left;
}

@mixin text($pcSize){
	font-size: calc(#{$pcSize + px});
    font-family: "Arial";
    font-weight: 500;
    letter-spacing: 0em;
    color: whitesmoke;
}

@mixin flexContainerCenterWrap(){
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
